{%  load mathfilters %}
<div style="margin: auto;">
    <div class="comment_box">
        <div class="comment_header">
            <div class="comment_user_image">
                <img src="{{ user_details.user_img.user_img }}">
            </div>
            <div class="comment_user_details">
                User: <a href="#">{{ user_details.user.username }}</a><br>
                {% load static %}
                {% for i in 'i'|rjust:user_details.user_rep %}
                    <img src="{% static 'claims/assets/images/star.png' %}">
                {% endfor %}
                <br>
                Verdict Date: <span id="comment_{{ comment.id }}_verdict_date">{{ comment.verdict_date|date:"d/m/Y" }}</span>
                <input hidden="hidden" id="comment_{{ comment.id }}_verdict_date_edit" type="date" value="{{ comment.verdict_date|date:"Y-m-d" }}" max="{% now "Y-m-d" %}">
            </div>
            <div id="comment_{{ comment.id }}_verdict" style="grid-area: verdict;">
                {%  if comment.system_label == 'True' %}
                    <div class="comment_verdict verdict_true"><b>TRUE</b></div>
                {% elif comment.system_label == 'False' %}
                    <div class="comment_verdict verdict_false"><b>FALSE</b></div>
                {% else %}
                    <div class="comment_verdict verdict_unknown"><b>UNKNOWN</b></div>
                {%  endif %}
            </div>
            <div id="comment_{{ comment.id }}_verdict_edit" style="grid-area: verdict; padding: 20px;" hidden="hidden">
                <input type="radio" id='comment_{{ comment.id }}_true_radio' name="label" value="True"> True<br>
                <input type="radio" id='comment_{{ comment.id }}_false_radio' name="label" value="False"> False<br>
                <input type="radio" id='comment_{{ comment.id }}_unknown_radio' name="label" value="Unknown"> Unknown
            </div>
        </div>
        <hr>
        <div class="comment_content" id="comment_content_{{ comment.id }}">
            <div class="comment_body">
                <h5><b>{{ comment.title }}</b></h5>
                <p>{{ comment.description }}</p>
            </div>
            <div class="comment_voting_area">
                {% if request.user.is_authenticated %}
                    <button id="{{ comment.id }}_arrow_up" type="submit" class="arrow_up">▲</button>
                {% else %}
                    <button id="{{ comment.id }}_arrow_up" type="submit" class="arrow_up" disabled>▲</button>
                {% endif %}
                <br>
                <span id="{{ comment.id }}_voteCount" class="vote_count">{{ comment.up_votes.count|sub:comment.down_votes.count }}</span>
                <br>
                {% if request.user.is_authenticated %}
                    <button id="{{ comment.id }}_arrow_down" type="submit" class="arrow_down">▼</button>
                {% else %}
                    <button id="{{ comment.id }}_arrow_down" type="submit" class="arrow_down" disabled>▼</button>
                {% endif %}
            </div>
        </div>
        <div id="comment_content_{{ comment.id }}_edit" hidden="hidden" class="comment_content_edit">
            Title: <input id="comment_{{ comment.id }}_title" value="{{ comment.title }}" type="text" placeholder="{{ comment.title }}"><br>
            Description:<br>
            <textarea id="comment_{{ comment.id }}_description" placeholder="{{ comment.description }}">{{ comment.description }}</textarea>
        </div>
        <div class="comment_footer">
            <div id="comment_{{ comment.id }}_footer">
                Reference:
                <a target="_blank" href={{ comment.url }}>link to source</a><br>
                Tags: {{ comment.tags }}
                <br><button id="comment_{{ comment.id }}_search_on_twitter" onclick="search_on_twitter_{{ comment.id }}()">Search on twitter</button>
            </div>
            <div id="comment_{{ comment.id }}_footer_edit" hidden="hidden">
                Reference:
                <input id="comment_{{ comment.id }}_reference" value="{{ comment.url }}" type="text" placeholder="{{ comment.url }}"><br>
                Tags:
                <input id="comment_{{ comment.id }}_tags" value="{{ comment.tags }}" type="text" placeholder="{{ comment.tags }}">
            </div>
            {% if request.user.is_superuser or request.user.is_authenticated and comment.user_id == request.user.id %}
                <br>
                <div class="buttons_row">
                    <button id="comment_{{ comment.id }}_edit" hidden='hidden' type="submit" class="btn btn-info" onclick="edit_comment_{{ comment.id }}()">Edit your comment</button>
                    <button id="comment_{{ comment.id }}_cancel" hidden='hidden' type="submit" class="btn btn-info" onclick="edit_comment_{{ comment.id }}_cancel()">Cancel</button>
                    <button id="comment_{{ comment.id }}_save" type="submit" hidden='hidden' class="btn btn-info">Save</button>
                    <button id="comment_{{ comment.id }}_delete" type="submit" class="btn btn-danger">Delete</button>
                </div>
            {% endif %}
            <p id="comment_{{ comment.id }}_error_msg" class="action_msg error_msg" hidden></p>
        </div>
    </div>
</div>

<script>
    let up_voted_{{ comment.id }} = false;
    let down_voted_{{ comment.id }} = false;
    let up_count_{{ comment.id }} = {{ comment.up_votes.count }};
    let down_count_{{ comment.id }} = {{ comment.down_votes.count }};
    let max_minutes_to_edit_comment_{{ comment.id }} = 5;
    let comment_timestamp_{{ comment.id }} = new Date('{{ comment.timestamp|date:"D, d M Y H:i:s" }}');
    {% if request.user.is_superuser %}
        $("#comment_{{ comment.id }}_edit").attr("hidden", false);
    {% else %}
        if (((new Date() - comment_timestamp_{{ comment.id }}) / 60000) <= max_minutes_to_edit_comment_{{ comment.id }}){
            $("#comment_{{ comment.id }}_edit").attr("hidden", false);
        }
        else{
            $("#{{ comment.id }}_arrow_up").attr("disabled", false);
            $("#{{ comment.id }}_arrow_down").attr("disabled", false);
        }
    {% endif %}
    $(document).ready(function () {
        {% for voted_user in comment.up_votes.all %}
            {% if request.user.id == voted_user.id %}
                up_voted_{{ comment.id }} = true;
                document.getElementById("{{ comment.id }}_arrow_up").style.color = "#555";
            {% endif %}
        {% endfor %}
        {% for voted_user in comment.down_votes.all %}
            {% if request.user.id == voted_user.id %}
                down_voted_{{ comment.id }} = true;
                document.getElementById("{{ comment.id }}_arrow_down").style.color = "#555";
            {% endif %}
        {% endfor %}
    });
    $("#{{ comment.id }}_arrow_up").click(function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: "{% url 'comments:up_vote' %}",
            headers: { "X-CSRFToken": getCookie('csrftoken') },
            data: {
                comment_id: '{{ comment.id }}',
            },
            success: function () {
                if(!up_voted_{{ comment.id }}) {
                    up_voted_{{ comment.id }} = true;
                    up_count_{{ comment.id }}++;
                    document.getElementById("{{ comment.id }}_arrow_up").style.color = "#555";
                    if(down_voted_{{ comment.id }}) {
                        down_count_{{ comment.id }}--;
                        down_voted_{{ comment.id }} = false;
                        document.getElementById("{{ comment.id }}_arrow_down").style.color = "#C0C0C0";
                    }
                }
                else{
                    up_voted_{{ comment.id }} = false;
                    up_count_{{ comment.id }}--;
                    document.getElementById("{{ comment.id }}_arrow_up").style.color = "#C0C0C0";
                }
                $("#{{ comment.id }}_voteCount").text(up_count_{{ comment.id }}-down_count_{{ comment.id }});
            },
            error: function (error) {
                let err = error.responseText.split('\n')[1];
                document.getElementById("comment_{{ comment.id }}_error_msg").innerHTML =
                    'Error: <br>' + err;
                $("#comment_{{ comment.id }}_error_msg").attr("hidden", false);
            }
        });
    });
    $("#{{ comment.id }}_arrow_down").click(function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: "{% url 'comments:down_vote' %}",
            headers: { "X-CSRFToken": getCookie('csrftoken') },
            data: {
                comment_id: '{{ comment.id }}',
            },
            success: function () {
                if(!down_voted_{{ comment.id }}) {
                    down_voted_{{ comment.id }} = true;
                    down_count_{{ comment.id }}++;
                    document.getElementById("{{ comment.id }}_arrow_down").style.color = "#555";
                    if(up_voted_{{ comment.id }}) {
                        up_count_{{ comment.id }}--;
                        up_voted_{{ comment.id }} = false;
                        document.getElementById("{{ comment.id }}_arrow_up").style.color = "#C0C0C0";
                    }
                }
                else{
                    down_voted_{{ comment.id }} = false;
                    down_count_{{ comment.id }}--;
                    document.getElementById("{{ comment.id }}_arrow_down").style.color = "#C0C0C0";
                }
                $("#{{ comment.id }}_voteCount").text(up_count_{{ comment.id }}-down_count_{{ comment.id }});
            },
            error: function (error) {
                let err = error.responseText.split('\n')[1];
                document.getElementById("comment_{{ comment.id }}_error_msg").innerHTML =
                    'Error: <br>' + err;
                $("#comment_{{ comment.id }}_error_msg").attr("hidden", false);
            }
        });
    });
    function edit_comment_{{ comment.id }}() {
        $("#comment_{{ comment.id }}_verdict_date").attr("hidden", true);
        $("#comment_{{ comment.id }}_verdict").attr("hidden", true);
        $("#comment_content_{{ comment.id }}").attr("hidden", true);
        $("#comment_{{ comment.id }}_footer").attr("hidden", true);
        $("#comment_{{ comment.id }}_edit").attr("hidden", true);
        $("#comment_{{ comment.id }}_delete").attr("hidden", true);
        $("#comment_{{ comment.id }}_verdict_date_edit").attr("hidden", false);
        $("#comment_{{ comment.id }}_verdict_edit").attr("hidden", false);
        $("#comment_content_{{ comment.id }}_edit").attr("hidden", false);
        $("#comment_{{ comment.id }}_footer_edit").attr("hidden", false);
        $("#comment_{{ comment.id }}_cancel").attr("hidden", false);
        $("#comment_{{ comment.id }}_save").attr("hidden", false);
        {%  if comment.system_label == 'True' %}
            document.getElementById("comment_{{ comment.id }}_true_radio").checked = true;
        {% elif comment.system_label == 'False' %}
            document.getElementById("comment_{{ comment.id }}_false_radio").checked = true;
        {% else %}
            document.getElementById("comment_{{ comment.id }}_unknown_radio").checked = true;
        {%  endif %}
    }
    function edit_comment_{{ comment.id }}_cancel() {
        $("#comment_{{ comment.id }}_verdict_date").attr("hidden", false);
        $("#comment_{{ comment.id }}_verdict").attr("hidden", false);
        $("#comment_content_{{ comment.id }}").attr("hidden", false);
        $("#comment_{{ comment.id }}_footer").attr("hidden", false);
        $("#comment_{{ comment.id }}_edit").attr("hidden", false);
        $("#comment_{{ comment.id }}_delete").attr("hidden", false);
        $("#comment_{{ comment.id }}_verdict_date_edit").attr("hidden", true);
        $("#comment_{{ comment.id }}_verdict_edit").attr("hidden", true);
        $("#comment_content_{{ comment.id }}_edit").attr("hidden", true);
        $("#comment_{{ comment.id }}_footer_edit").attr("hidden", true);
        $("#comment_{{ comment.id }}_cancel").attr("hidden", true);
        $("#comment_{{ comment.id }}_save").attr("hidden", true);
        $("#comment_{{ comment.id }}_error_msg").attr("hidden", true);
    }
    $("#comment_{{ comment.id }}_save").click(function(e){
        $.ajax({
            type: 'POST',
            url: "{% url 'comments:edit_comment' %}",
            headers: { "X-CSRFToken": getCookie('csrftoken') },
            data: {
                comment_id: '{{ comment.id }}',
                comment_title: $("#comment_{{ comment.id }}_title").val(),
                comment_description: $("#comment_{{ comment.id }}_description").val(),
                comment_tags: $("#comment_{{ comment.id }}_tags").val(),
                comment_verdict_date: $("#comment_{{ comment.id }}_verdict_date_edit").val(),
                comment_reference: $("#comment_{{ comment.id }}_reference").val(),
                comment_label: document.querySelector('input[name="label"]:checked').value,
            },
            success: function () {
                location.href = 'http://{{ request.META.HTTP_HOST }}/claim/{{ comment.claim_id }}';
            },
            error: function (error) {
                let err = error.responseText.split('\n')[1];
                document.getElementById("comment_{{ comment.id }}_error_msg").innerHTML =
                'Error: <br>' + err;
                $("#comment_{{ comment.id }}_error_msg").attr("hidden", false);
            }
        });
    });
    $("#comment_{{ comment.id }}_delete").click(function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: "{% url 'comments:delete_comment' %}",
            headers: { "X-CSRFToken": getCookie('csrftoken') },
            data: {
                comment_id: '{{ comment.id }}',
            },
            success: function (page) {
                location.href =  'http://{{ request.META.HTTP_HOST }}/claim/{{ comment.claim_id }}';
            },
            error: function (error) {
                let err = error.responseText.split('\n')[1];
                document.getElementById("comment_{{ comment.id }}_error_msg").innerHTML =
                    'Error: <br>' + err;
                $("#comment_{{ comment.id }}_error_msg").attr("hidden", false);
            }
        });
    });
    function search_on_twitter_{{ comment.id }}(){
        let comment_{{ comment.id }}_new_tags = '';
        let comment_{{ comment.id }}_tags_arr = "{{ comment.tags }}".split(' ');
        for(let index in comment_{{ comment.id }}_tags_arr){
            comment_{{ comment.id }}_new_tags += comment_{{ comment.id }}_tags_arr[index] + '+';
        }
        comment_{{ comment.id }}_new_tags = comment_{{ comment.id }}_new_tags.substring(0, comment_{{ comment.id }}_new_tags.length - 1);
        window.open('https://twitter.com/search?q=' + comment_{{ comment.id }}_new_tags, '_blank');
        {# for google --> 'http://google.com/search?q='#}
    }
</script>