{% load mathfilters %}
<div style="margin: auto;">
    <div class="comment_box" id="comment_box_{{ comment.id }}">
        <div class="comment_header">
            <div class="comment_user_image">
                <img src="{{ comment.user.get_user_image.image_url }}">
            </div>
            <div class="comment_user_details">
                User: <a href="/users/{{ comment.user.id }}">{{ comment.user.username }}</a><br>
                {% load static %}
                {% for i in 'i'|rjust:comment.user.get_user_rep.get_reputation %}
                    <img src="{% static 'claims/assets/images/star.png' %}">
                {% endfor %}
                <br>
                Verdict Date: <span id="comment_{{ comment.id }}_verdict_date">{{ comment.verdict_date|date:"d/m/Y" }}</span>
                <input hidden="hidden" id="comment_{{ comment.id }}_verdict_date_edit" type="date" value="{{ comment.verdict_date|date:"Y-m-d" }}" max="{% now "Y-m-d" %}">
            </div>
            <div id="comment_{{ comment.id }}_verdict" style="grid-area: verdict;">
                {%  if comment.system_label == 'True' %}
                    <div class="comment_verdict verdict_true"><b>TRUE</b></div>
                {% elif comment.system_label == 'False' %}
                    <div class="comment_verdict verdict_false"><b>FALSE</b></div>
                {% else %}
                    <div class="comment_verdict verdict_unknown"><b>UNKNOWN</b></div>
                {%  endif %}
            </div>
            <div id="comment_{{ comment.id }}_verdict_edit" style="grid-area: verdict; padding: 20px;" hidden="hidden">
                <input type="radio" id='comment_{{ comment.id }}_true_radio' name="comment_{{ comment.id }}_label" value="True"> True<br>
                <input type="radio" id='comment_{{ comment.id }}_false_radio' name="comment_{{ comment.id }}_label" value="False"> False<br>
                <input type="radio" id='comment_{{ comment.id }}_unknown_radio' name="comment_{{ comment.id }}_label" value="Unknown"> Unknown
            </div>
        </div>
        <hr>
        <div class="comment_content" id="comment_content_{{ comment.id }}">
            <div class="comment_body">
                <h5><b>{{ comment.title }}</b></h5>
                <p>{{ comment.description }}</p>
            </div>
            <p id="success_msg_{{ comment.id }}_comment_vote" class="action_msg note_msg" hidden>Your vote has been accepted successfully</p>
            <p id="error_msg_{{ comment.id }}_comment_vote" class="action_msg error_msg" hidden></p>
            <div class="comment_voting_area">
                <span style="font-size: 12px; color: #C0C0C0;">Agree</span><br>
                {% if request.user.is_authenticated %}
                    <button id="{{ comment.id }}_arrow_up" class="arrow_up">▲</button>
                {% else %}
                    <button id="{{ comment.id }}_arrow_up" class="arrow_up" disabled="disabled" title="Sign in and vote" style="color: #dddddd;">▲</button>
                {% endif %}
                <br>
                <span id="{{ comment.id }}_voteCount" class="vote_count">Votes: {{ comment.up_votes.count|sub:comment.down_votes.count }}</span>
                <br>
                {% if request.user.is_authenticated %}
                    <button id="{{ comment.id }}_arrow_down" class="arrow_down">▼</button>
                {% else %}
                    <button id="{{ comment.id }}_arrow_down" class="arrow_down" disabled="disabled" title="Sign in and vote" style="color: #dddddd;">▼</button>
                {% endif %}
                <span style="font-size: 12px; color: #C0C0C0;">Disagree</span>
            </div>
        </div>
        <div id="comment_content_{{ comment.id }}_edit" hidden="hidden" class="comment_content_edit">
            Reference: <input id="comment_{{ comment.id }}_reference" value="{{ comment.url }}" type="text" placeholder="{{ comment.url }}"><br>
            Title: <input id="comment_{{ comment.id }}_title" value="{{ comment.title }}" type="text" placeholder="{{ comment.title }}"><br>
            Description (describe how the reference supports the label you have chosen- True/False/Unknown):<br>
            <textarea id="comment_{{ comment.id }}_description" placeholder="{{ comment.description }}">{{ comment.description }}</textarea>
        </div>
        <div class="comment_footer">
            <div id="comment_{{ comment.id }}_footer">
                Reference:
                <a id="comment_{{ comment.id }}_reference_link" target="_blank" href="{{ comment.url }}">link to source</a><br>
                <div id="comment_{{ comment.id }}_reference_preview" hidden="hidden">

                </div>
                {% if comment.tags %}
                    Tags:
                    {% for tag in comment.tags_as_list %}
                            <a href="javascript:" onclick="search_on_twitter('{{ tag }}');return false;" class="tag_link">{{ tag }}</a>
                    {% endfor %}
                {% endif %}
            </div>
            <div id="comment_{{ comment.id }}_footer_edit" hidden="hidden">
                Tags (optional, separated by comma. May be followed by space. e.g. tag1,tag2,tag3 or tag1, tag2, tag3):
                <input id="comment_{{ comment.id }}_tags" value="{{ comment.tags }}" type="text" placeholder="{{ comment.tags }}">
            </div>
            {% if request.user.is_superuser or request.user.is_authenticated and comment.user_id == request.user.id %}
                <br>
                <div class="buttons_row">
                    <p id="success_msg_{{ comment.id }}_comment_edit" class="action_msg note_msg" hidden>Comment was edited successfully</p>
                    <p id="error_msg_{{ comment.id }}_comment_edit" class="action_msg error_msg" hidden></p>
                    <button id="comment_{{ comment.id }}_edit" hidden='hidden' type="submit" class="btn btn-info" onclick="edit_comment_{{ comment.id }}()">Edit your comment</button>
                    <button id="comment_{{ comment.id }}_cancel" hidden='hidden' type="submit" class="btn btn-info" onclick="edit_comment_{{ comment.id }}_cancel()">Cancel</button>
                    <button id="comment_{{ comment.id }}_save" type="submit" hidden='hidden' class="btn btn-info">Save</button>
                    <button id="comment_{{ comment.id }}_delete" type="submit" class="btn btn-danger">Delete</button>
                </div>
            {% endif %}
        </div>
    </div>
    {% if show_replies %}
        <div class="replies_area">
            {% for reply in comment.get_first_two_replies %}
                {% include 'replies/reply.html' with reply=reply request=request only %}
            {% endfor %}
            <div id="{{ comment.id }}_more_replies" hidden="hidden">
                {% for reply in comment.get_more_replies %}
                    {% include 'replies/reply.html' with reply=reply request=request only %}
                {% endfor %}
            </div>
            {% if comment.has_more_replies %}
                <button id="reply_{{ comment.id }}_view_more" type="submit" class="btn btn-info">View more</button>
                <button id="reply_{{ comment.id }}_hide_replies" type="submit" class="btn btn-info" hidden="hidden">Show less</button>
            {% endif %}
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser or request.user.id not in comment.users_replied_ids %}
                    <button id="reply_{{ comment.id }}_add" type="submit" class="btn btn-info">Add new reply</button>
                    <div id="reply_{{ comment.id }}_add_form" style="padding: 20px;" hidden="hidden">
                        Your reply:<br>
                        <textarea id="{{ comment.id }}_new_reply_content" style="margin-right: 10px;">
                        </textarea><br>
                        <button id="{{ comment.id }}_new_reply_save" type="submit" class="btn btn-info">Add reply</button>
                        <p id="error_msg_{{ comment.id }}_new_reply" class="action_msg error_msg" hidden></p>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
</div>

<script>
    let up_voted_{{ comment.id }} = false;
    let down_voted_{{ comment.id }} = false;
    let up_count_{{ comment.id }} = {{ comment.up_votes.count }};
    let down_count_{{ comment.id }} = {{ comment.down_votes.count }};
    let max_minutes_to_edit_comment_{{ comment.id }} = 10;
    let comment_timestamp_{{ comment.id }} = new Date('{{ comment.timestamp|date:"D, d M Y H:i:s" }}');
    {% if request.user.is_superuser %}
        $("#comment_{{ comment.id }}_edit").attr("hidden", false);
    {% elif request.user.is_authenticated %}
        if (((new Date() - comment_timestamp_{{ comment.id }}) / 60000) <= max_minutes_to_edit_comment_{{ comment.id }}){
            $("#comment_{{ comment.id }}_edit").attr("hidden", false);
        }
        else{
            $("#{{ comment.id }}_arrow_up").attr("disabled", false);
            $("#{{ comment.id }}_arrow_down").attr("disabled", false);
        }
    {% endif %}
    if(localStorage.getItem("success_msg_{{ comment.id }}_comment_edit")){
        $("#success_msg_{{ comment.id }}_comment_edit").attr("hidden", false);
        localStorage.clear();
    }
    else if(localStorage.getItem("success_msg_{{ comment.id }}_comment_vote")){
        $("#success_msg_{{ comment.id }}_comment_vote").attr("hidden", false);
        localStorage.clear();
    }

    function hide_all_msgs(){
        $("#success_msg_{{ comment.id }}_comment_vote").attr("hidden", true);
        $("#success_msg_{{ comment.id }}_comment_edit").attr("hidden", true);

        $("#error_msg_{{ comment.id }}_comment_vote").attr("hidden", true);
        $("#error_msg_{{ comment.id }}_comment_edit").attr("hidden", true);
    }

    $(document).ready(function () {
        {% for voted_user in comment.up_votes.all %}
            {% if request.user.id == voted_user.id %}
                up_voted_{{ comment.id }} = true;
                document.getElementById("{{ comment.id }}_arrow_up").style.color = "#555";
            {% endif %}
        {% endfor %}
        {% for voted_user in comment.down_votes.all %}
            {% if request.user.id == voted_user.id %}
                down_voted_{{ comment.id }} = true;
                document.getElementById("{{ comment.id }}_arrow_down").style.color = "#555";
            {% endif %}
        {% endfor %}
    });

    $("#{{ comment.id }}_arrow_up").click(function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: "{% url 'comments:up_vote' %}",
            headers: { "X-CSRFToken": getCookie('csrftoken') },
            data: {
                comment_id: '{{ comment.id }}',
            },
            success: function () {
                if(!up_voted_{{ comment.id }}) {
                    up_voted_{{ comment.id }} = true;
                    up_count_{{ comment.id }}++;
                    document.getElementById("{{ comment.id }}_arrow_up").style.color = "#555";
                    if(down_voted_{{ comment.id }}) {
                        down_count_{{ comment.id }}--;
                        down_voted_{{ comment.id }} = false;
                        document.getElementById("{{ comment.id }}_arrow_down").style.color = "#C0C0C0";
                    }
                }
                else{
                    up_voted_{{ comment.id }} = false;
                    up_count_{{ comment.id }}--;
                    document.getElementById("{{ comment.id }}_arrow_up").style.color = "#C0C0C0";
                }
                $("#{{ comment.id }}_voteCount").text(up_count_{{ comment.id }}-down_count_{{ comment.id }});
            },
            error: function (request) {
                hide_all_msgs();
                let err = request.responseJSON;
                document.getElementById("error_msg_{{ comment.id }}_comment_vote").innerHTML =
                    'Error: <br>' + err;
                $("#error_msg_{{ comment.id }}_comment_vote").attr("hidden", false);
            }
        });
    });

    $("#{{ comment.id }}_arrow_down").click(function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: "{% url 'comments:down_vote' %}",
            headers: { "X-CSRFToken": getCookie('csrftoken') },
            data: {
                comment_id: '{{ comment.id }}',
            },
            success: function () {
                if(!down_voted_{{ comment.id }}) {
                    down_voted_{{ comment.id }} = true;
                    down_count_{{ comment.id }}++;
                    document.getElementById("{{ comment.id }}_arrow_down").style.color = "#555";
                    if(up_voted_{{ comment.id }}) {
                        up_count_{{ comment.id }}--;
                        up_voted_{{ comment.id }} = false;
                        document.getElementById("{{ comment.id }}_arrow_up").style.color = "#C0C0C0";
                    }
                }
                else{
                    down_voted_{{ comment.id }} = false;
                    down_count_{{ comment.id }}--;
                    document.getElementById("{{ comment.id }}_arrow_down").style.color = "#C0C0C0";
                }
                $("#{{ comment.id }}_voteCount").text(up_count_{{ comment.id }}-down_count_{{ comment.id }});
            },
            error: function (request) {
                hide_all_msgs();
                let err = request.responseJSON;
                document.getElementById("error_msg_{{ comment.id }}_comment_vote").innerHTML =
                    'Error: <br>' + err;
                $("#error_msg_{{ comment.id }}_comment_vote").attr("hidden", false);
            }
        });
    });

    function edit_comment_{{ comment.id }}() {
        $("#comment_{{ comment.id }}_verdict_date").attr("hidden", true);
        $("#comment_{{ comment.id }}_verdict").attr("hidden", true);
        $("#comment_content_{{ comment.id }}").attr("hidden", true);
        $("#comment_{{ comment.id }}_footer").attr("hidden", true);
        $("#comment_{{ comment.id }}_edit").attr("hidden", true);
        $("#comment_{{ comment.id }}_delete").attr("hidden", true);
        $("#comment_{{ comment.id }}_verdict_date_edit").attr("hidden", false);
        $("#comment_{{ comment.id }}_verdict_edit").attr("hidden", false);
        $("#comment_content_{{ comment.id }}_edit").attr("hidden", false);
        $("#comment_{{ comment.id }}_footer_edit").attr("hidden", false);
        $("#comment_{{ comment.id }}_cancel").attr("hidden", false);
        $("#comment_{{ comment.id }}_save").attr("hidden", false);
        {%  if comment.system_label == 'True' %}
            document.getElementById("comment_{{ comment.id }}_true_radio").checked = true;
        {% elif comment.system_label == 'False' %}
            document.getElementById("comment_{{ comment.id }}_false_radio").checked = true;
        {% else %}
            document.getElementById("comment_{{ comment.id }}_unknown_radio").checked = true;
        {%  endif %}
    }

    function edit_comment_{{ comment.id }}_cancel() {
        $("#comment_{{ comment.id }}_verdict_date").attr("hidden", false);
        $("#comment_{{ comment.id }}_verdict").attr("hidden", false);
        $("#comment_content_{{ comment.id }}").attr("hidden", false);
        $("#comment_{{ comment.id }}_footer").attr("hidden", false);
        $("#comment_{{ comment.id }}_edit").attr("hidden", false);
        $("#comment_{{ comment.id }}_delete").attr("hidden", false);
        $("#comment_{{ comment.id }}_verdict_date_edit").attr("hidden", true);
        $("#comment_{{ comment.id }}_verdict_edit").attr("hidden", true);
        $("#comment_content_{{ comment.id }}_edit").attr("hidden", true);
        $("#comment_{{ comment.id }}_footer_edit").attr("hidden", true);
        $("#comment_{{ comment.id }}_cancel").attr("hidden", true);
        $("#comment_{{ comment.id }}_save").attr("hidden", true);
        $("#comment_{{ comment.id }}_error_msg").attr("hidden", true);
    }

    $("#comment_{{ comment.id }}_save").click(function(e){
        $.ajax({
            type: 'POST',
            url: "{% url 'comments:edit_comment' %}",
            headers: { "X-CSRFToken": getCookie('csrftoken') },
            data: {
                comment_id: '{{ comment.id }}',
                comment_title: $("#comment_{{ comment.id }}_title").val(),
                comment_description: $("#comment_{{ comment.id }}_description").val(),
                comment_tags: $("#comment_{{ comment.id }}_tags").val(),
                comment_verdict_date: $("#comment_{{ comment.id }}_verdict_date_edit").val(),
                comment_reference: $("#comment_{{ comment.id }}_reference").val(),
                comment_label: document.querySelector('input[name="comment_{{ comment.id }}_label"]:checked').value,
            },
            success: function () {
                localStorage.setItem("success_msg_{{ comment.id }}_comment_edit", true);
                window.location.reload();
            },
            error: function (request) {
                hide_all_msgs();
                let err = request.responseJSON;
                document.getElementById("error_msg_{{ comment.id }}_comment_edit").innerHTML =
                'Error: <br>' + err;
                $("#error_msg_{{ comment.id }}_comment_edit").attr("hidden", false);
            }
        });
    });

    $("#comment_{{ comment.id }}_delete").click(function(e){
        if (confirm('Are you sure that you want to delete this comment?')){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'comments:delete_comment' %}",
                headers: { "X-CSRFToken": getCookie('csrftoken') },
                data: {
                    comment_id: '{{ comment.id }}',
                },
                success: function (page) {
                    $("html, body").animate({ scrollTop: 200 }, 0);
                    window.location.reload();
                },
                error: function (request) {
                    hide_all_msgs();
                    let err = request.responseJSON;
                    document.getElementById("error_msg_{{ comment.id }}_comment_edit").innerHTML =
                        'Error: <br>' + err;
                    $("#error_msg_{{ comment.id }}_comment_edit").attr("hidden", false);
                }
            });
        }
    });

    $("#reply_{{ comment.id }}_view_more").click(function(e){
        $("#reply_{{ comment.id }}_view_more").attr("hidden", true);
        $("#reply_{{ comment.id }}_hide_replies").attr("hidden", false);
        $("#{{ comment.id }}_more_replies").attr("hidden", false);
    });

    $("#reply_{{ comment.id }}_hide_replies").click(function(e){
        $("#reply_{{ comment.id }}_view_more").attr("hidden", false);
        $("#reply_{{ comment.id }}_hide_replies").attr("hidden", true);
        $("#{{ comment.id }}_more_replies").attr("hidden", true);
    });

    $("#reply_{{ comment.id }}_add").click(function(e){
        $("#reply_{{ comment.id }}_add").attr("hidden", true);
        $("#reply_{{ comment.id }}_add_form").attr("hidden", false);
    });

    $("#{{ comment.id }}_new_reply_save").click(function(e){
        $.ajax({
            type: 'POST',
            url: "{% url 'replies:add_reply' %}",
            headers: { "X-CSRFToken": getCookie('csrftoken') },
            data: {
                comment_id: '{{ comment.id }}',
                content: $("#{{ comment.id }}_new_reply_content").val(),
            },
            success: function () {
                window.location.reload();
            },
            error: function (request) {
                hide_all_msgs();
                let err = request.responseJSON;
                document.getElementById("error_msg_{{ comment.id }}_new_reply").innerHTML =
                'Error: <br>' + err;
                $("#error_msg_{{ comment.id }}_new_reply").attr("hidden", false);
            }
        });
    });

    function linkPreview_{{ comment.id }}(result){
        let comment_link = '{{ comment.url }}';
        if (comment_link.toLowerCase().startsWith("https://twitter.com/")){
            $("#comment_{{ comment.id }}_reference_link").attr("hidden", true);
             document.getElementById("comment_{{ comment.id }}_reference_preview").innerHTML = "<blockquote class=\"twitter-tweet item_preview\" data-lang=\"en\">\n" +
                 "                    <a target=\"_blank\" href=\"{{ comment.url }}\"></a>\n" +
                 "                </blockquote>";
            $("#comment_{{ comment.id }}_reference_preview").attr("hidden", false);
        }
        else if (comment_link.toLowerCase().startsWith("https://www.youtube.com/") ||
                comment_link.toLowerCase().startsWith("https://youtu.be/")){
            $("#comment_{{ comment.id }}_reference_link").attr("hidden", true);
            document.getElementById("comment_{{ comment.id }}_reference_preview").innerHTML =
                "<iframe class=\"youtube_preview item_preview\" src=\"//www.youtube.com/embed/" + getYoutubeVideoId('{{ comment.url }}') +
                    "\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n"
            $("#comment_{{ comment.id }}_reference_preview").attr("hidden", false);
        }
        else if (result !== 'False') {
            try {
                if (result.title != "" && result.description != "" && result.src != "") {
                    $("#comment_{{ comment.id }}_reference_link").attr("hidden", true);
                    document.getElementById("comment_{{ comment.id }}_reference_preview").innerHTML = "<div class=\"comment_reference_preview\">\n" +
                        "                        <div class=\"preview_img\">\n" +
                        "                            <a target=\"_blank\" href={{ comment.url }}><img src=\"" + result.src + "\"></a>\n" +
                        "                        </div>\n" +
                        "                        <div class=\"preview_details\">\n" +
                        "                            <a target=\"_blank\" href=\"{{ comment.url }}\"><h5>" + result.title+ "</h5></a>\n" +
                        "                            <p>" + result.description + "</p>\n" +
                        "                        </div>\n" +
                        "                    </div>";
                    $("#comment_{{ comment.id }}_reference_preview").attr("hidden", false);
                }
            } catch (e) {

            }
        }
    }

    $(document).ready(function() {
         let comment_preview_{{ comment.id }} = "{{comment.get_preview | escapejs}}";
         if (comment_preview_{{ comment.id }} !== 'False') {
             comment_preview_{{ comment.id }} = JSON.parse(comment_preview_{{ comment.id }});
         }
         linkPreview_{{ comment.id }}(comment_preview_{{ comment.id }});
    });

</script>
