{#title=comment.title#}
{#user_id = comment.user_id#}
{#claim_id =comment.claim_id #}
{#title =comment.title #}
{#description = comment.description #}
{#url = comment.url #}
{#verdict_date =comment.verdict_date #}
{#tags = comment.tags #}
{#label = comment.label #}
{#pos_votes = comment.pos_votes #}
{#neg_votes = comment.neg_votes#}
{%  load mathfilters %}

<div style="margin: auto;">
    <div class="claim_box" style="padding: 20px;">
        <table id="comment">
            <tr>
                <td class="left"><h4><b>{{ comment.title }}</b></h4></td>
                <td class="right">User: <a href="#">{{ user.username }}</a></td>
            </tr>
            <tr>
                <td class="left"><p>{{ comment.description }}</p></td>
                <td class="right"><p>
                    <img src="{{ user.user_img }}" style="max-height: 90px; max-width: 90px;"><br>
                    {% load static %}
                    {%  if comment.label == "TRUE" %}
                        <img style="max-width: 70px;" src="{% static 'claims/assets/images/TrueLabel.png' %}" >
                    {% else %}
                        <img style="max-width: 70px; " src="{% static 'claims/assets/images/FalseLabel.png' %}" >
                    {%  endif %}
                </p></td>
            </tr>
            <tr>
                <td class="left">References: <a href={{ comment.url }}>website</a></td>
                <td class="right" style="text-align: center;">
                    <div style="margin: auto;">
                        {% if request.user.is_authenticated %}
                            <a href=""><div class="arrow-up"></div></a>
                        {% endif %}
                        <p style="text-align: center;">{{ comment.pos_votes|sub:comment.neg_votes }}</p>
                        {% if request.user.is_authenticated %}
                            <a href=""><div class="arrow-down"></div></a>
                        {% endif %}
                    </div>

                </td>
            </tr>
        </table>
    </div>

</div>