{% extends 'claims/layout.html' %}

{% block page_content %}
    <div class="page_wrapper">
        <h3>Search Results:</h3>
        <div id="claim_columns" style="margin-top: 50px;">
            {% if search_result.items|length > 0 %}
                {% for claim, imgs in search_result.items %}
                    {% include 'claims/claimbox.html' with claim=claim icons=imgs %}
                {% endfor %}
            {% else %}
                Your search didn't match any claims
            {% endif %}

        </div>
    </div>

{% endblock %}


{% block claim_head_title %}
    FactCheckProject | Search
{% endblock %}