{% extends 'claims/layout.html' %}

{% block page_content %}
    <div id="contact_us_page" class="page_wrapper">
        <h4>How can we help?</h4>
        <br>
        <div class="claim_box page_box">
            {% csrf_token %}
            <p id="error_msg_send_email" class="action_msg error_msg" hidden> </p>
            <p id="success_msg_send_email" class="action_msg note_msg" hidden>Your email has been sent successfully </p>
            <h5>Mail Details:</h5>
            Your e-mail:<br>
            <input id="user_email" type="text" style="width: 50%;"><br>
            Subject:<br>
            <input id="subject" type="text" style="width: 50%;"><br>
            <br>
            <h5>Message Details:</h5>
            Description:<br>
            <textarea id="description" tyle="width: 100%; height: 100px;"></textarea><br>
            <p>We are working on it</p>
            <button id="submit_email" type="submit" class="btn btn-info"  disabled style="margin: 10px 0;">Send email</button>
        </div>
    </div>

    <script>
        if(localStorage.getItem("success_msg_send_email")){
            $("#success_msg_send_email").attr("hidden", false);
            localStorage.clear();
        }
        $("#submit_email").click(function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'contact_us:send_email' %}",
                headers: { "X-CSRFToken": getCookie('csrftoken')},
                data: {
                    user_email: $("#user_email").val(),
                    subject: $("#subject").val(),
                    description: $("#description").val()
                },
                success: function (request) {
                    localStorage.setItem("success_msg_send_email", true);
                    window.location.reload()

                },
                error: function (request) {
                    $("#success_msg_send_email").attr("hidden", true);
                    let err = request.responseJSON;
                    document.getElementById("error_msg_send_email").innerHTML =
                        'Error: <br>' + err;
                    $("#error_msg_send_email").attr("hidden", false);
                }
            });
        });

        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start, c_end));
                }
            }
            return "";
        }
</script>
{% endblock %}

{% block claim_head_title %}
    FactCheckProject | Contact us
{% endblock %}