{% extends 'claims/layout2.html' %}

{% block page_content %}
    <div id="logger_page" style="max-width: 1050px; margin: auto; min-height: 750px; padding: 40px 0;">
        <h5>All users activities on the website:</h5>
        <br>
        <div class="claim_box" style="width: 100%; padding: 20px 40px 20px 20px; height: 600px; overflow: auto;">
            {% csrf_token %}
            <table class="log_table" style="">
              <tr>
                  <th>Date</th>
                  <th>User Id</th>
                  <th>Username</th>
                  <th>Action</th>
                  <th>Result</th>
              </tr>
                {% for log in logger %}
                    <tr class="log_table">
                        <td>{{ log.date }}</td>
                        <td>{{ log.user_id }}</td>
                        <td>{{ log.username }}</td>
                        <td>{{ log.action }}</td>
                        {% if log.result %}
                            <td>Success</td>
                        {% else %}
                            <td>Failure</td>
                        {% endif %}
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>

{% endblock %}

{% block claim_head_title %}
    FactCheckProject | Logger
{% endblock %}