body {
    background: #f5f5f5;
}

/*################
    HEADER
################*/

#header{
    background-image: linear-gradient(#121d59, #060536);
    padding: 20px;
}

#header-wrapper{
    max-width: 1050px;
    margin: auto;
    display: grid;
    grid-template-columns: 530px auto;
    grid-template-areas:
    'site-logo header-tools';
}

.site-logo{
    grid-area: site-logo;
    text-align: center;
}

.site-logo img{
    height: 160px;
    width: 500px;
}

.site-logo h6{
    color: #C0C0C0;
    padding-top: 10px;
}

.header-tools{
    grid-area: header-tools;
    font-size: 22px;
    color: #C0C0C0;
}

.header-tools ul{
    list-style-type: none;
    padding: 0;
}

.header-tools li{
    margin: 5px;
    display: inline;
    height: 35px;
    padding: 0;
}

.header-tools a{
    color: #fff;
    padding: 0 7px;
}

.header-tools a:hover{
    text-decoration: none;
}

/*################
    NAVBAR
################*/

.topnav {
  background-color: #d1d1d1;
}

.nav-wrapper{
    max-width: 900px;
    margin: auto;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 17px;
    border-left: 1px solid #b1b1b1;
}

.topnav a:last-child {
  border-right: 1px solid #b1b1b1;
    float: none;
    position: relative;
  display: inline-block;
}

.topnav a:hover {
  background-color: #c0c0c0;
    text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
    float: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a{
    background: #f9f9f9;
    width: 100%;
    border: none;
}

/*################
    SEARCHBAR
################*/

.search-container {
    display: grid;
    grid-template-columns: auto 35px;
    grid-template-areas:
    'searchbar searchbutton';
    width: 100%;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

.searchbar{
    grid-area: searchbar;
}

.searchbutton{
    grid-area: searchbutton;
}


.search-container input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: none;
    width: 100%;
    border-radius: 4px 0 0 4px;
}

.search-container button {
  padding: 6px 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.topnav .search-container button:hover {
  background: #ccc;
}

/*################
GLOBAL LAYOUT CLASSES
################*/

#footer{
    background-color: #060536;
    width:100%;
    padding: 20px;
    color: #bbb;
    text-align: center;
    font-size: 12px;
}

.page_wrapper{
    max-width: 970px;
    margin: 50px auto;
    min-height: 700px;
}

div.pagination{
    padding: 20px;
}

span.step-links{
    margin: auto;
    padding: 20px;
}

.verdict_true{
    background: #d4edda;
    color: #155724;
}

.verdict_false{
    background: #d35b66;
    color: #721e3a;
}

.verdict_unknown{
    background: #b0b0b0;
    color: #333;
}

p.action_msg{
    font-size: 12px;
}

p.error_msg{
    color: red;
}

p.note_msg{
    color: dodgerblue;
}

.buttons_row button{
    margin: 10px 0;
}

div.claim_box {
    background-color: #fff;
    text-align: left;
    border: 1px solid #c0c0c0;
    display: inline-block;
    border-radius: 7px;
}

div.page_box{
    width: 100%;
    padding: 20px 40px 20px 20px;
}

.page_box input, textarea{
    margin: 10px;
}

/*################
    CLAIMS
################*/

.headlines{
    margin: 40px 0;
}

#claim_columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 40px 0;
}

#claim_large_columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.claim_box img{
    width: 100%;
    margin: 0;
    border-radius: 7px 7px 0 0;
}

div.claim_box_info {
    padding: 10px 20px 35px 20px;
}

div.claim_page_title_wrapper{
    display: inline-block;
    border-radius: 10px;
    background: #aabfd6;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.claim_page_title_wrapper img{
    float: left;
    max-width: 650px;
    width: 100%;
    border-radius: 10px;
}

div.claim_details{
    min-height: 365px;
    float: right;
    padding: 20px;
    width: 260px;
    border: 1px solid #b4b4b4;
    background: #fff;
    border-radius: 10px;
    margin-left: 20px;
}

div.claim_authenticity{
    width: 220px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

span.authenticity_grade{
    font-size: 72px;
    font-weight: bold;
}

.claim_edit input{
    width: 100%;
    margin: 10px;
}

.twitter-share-button{
    background: #fff;
    border: 1px solid #3a9fcd;
    color: #3a9fcd;
}

.twitter-share-button:hover{
    border: 1px solid #000;
}

/*################
    COMMENTS
################*/

div.comment_box {
    background-color: #fff;
    margin-bottom: 35px;
    border-radius: 7px;
    border: 1px solid #c0c0c0;
    width: 100%;
}

div.comment_header{
    width: 100%;
    border-radius: 7px 7px 0 0;
    display: grid;
    grid-template-columns: 130px auto 180px;
    grid-template-areas: 'user-image user-details verdict';
}

div.comment_user_image{
    grid-area: user-image;
    padding: 20px 20px 5px 20px;
}

.comment_user_image img{
    max-width: 90px;
    max-height: 90px;
}

div.comment_user_details{
    padding: 20px;
    font-size: 14px;
    grid-area: user-details;
}

.comment_user_details img{
    width: 15px;
    height: 15px;
}

div.comment_verdict{
    font-size: 22px;
    padding: 20px 0;
    text-align: center;
    border-radius: 0 7px 0 7px;
}

div.comment_content{
    padding: 20px 35px;
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-areas: 'comment-body voting';
}

div.comment_content_edit{
    padding: 20px 35px;
}

div.comment_body{
    grid-area: comment-body;
    padding-right: 20px;
}

span.vote_count{
    text-align: center;
    color: #000;
}

.arrow_up {
  color: #C0C0C0;
    background: none;
    border: none;
    font-size: 24px;
}

.arrow_down {
  color: #C0C0C0;
    background: none;
    border: none;
    font-size: 24px;
}

.comment_content input,textarea{
    width: 100%;
    margin: 10px;
}

.comment_content_edit input,textarea{
    width: 100%;
    margin: 10px;
}

div.comment_voting_area{
    grid-area: voting;
    text-align: center;
}

div.comment_footer{
    background: #f5f5f5;
    padding: 15px 30px;
    border-radius: 0 0 7px 7px;
}

.comment_footer input,textarea{
    width: 100%;
    margin: 10px;
}

/*################
    LOGGER
################*/

table.log_table{
    border-collapse: collapse;
    border: 1px solid #8e8e8e;
    width: 100%;
}

.log_table td{
    padding: 3px 12px;
    border: 1px solid #8e8e8e;
}

.log_table th{
    padding: 3px 12px;
    border: 1px solid #8e8e8e;
}

.log_table tr:nth-child(even){background-color: #e2e2e2;}

/*################
    ANALYTICS
################*/

.chart_div{
    height: 300px;
    width: 850px;
    margin: 20px;
    border: 1px solid #ccc;
}