{% extends 'claims/layout.html' %}

{% block page_content %}
    <!--Table and divs that hold the pie charts-->
    <div id="analytics_page" class="page_wrapper">
        <h4>WTFact Analytics:</h4>
        <div class="chart_wrapper">
            <div id="chart_months" class="chart_div"></div>
            <h6>Change months:</h6>
            from <input type="month" id="start_month" value="2019-01">
            to <input type="month" id="end_month" value="{{ current_date }}">
            <button id="set_months" class="btn btn-info">Set</button>
            <button id="reset_months" class="btn btn-danger reset-btn">Reset</button>
        </div>
        <div class="chart_wrapper">
            <div id="chart_days" class="chart_div"></div>
            <h6>Change month:</h6>
            <input type="month" id="start_days" value="2019-01">
            <button id="set_days" class="btn btn-info">Set</button>
            <button id="reset_days" class="btn btn-danger reset-btn">Reset</button>
        </div>
        <div class="chart_wrapper">
            <h5>Show top viewed claims:</h5><br>
            Number of claims: <input id="num_of_claims" type="number" min="1" max="10" value="5"><br><br>
            from <input type="date" id="claims_start_date" value="2019-01-01" max="{% now "Y-m-d" %}">
            to <input type="date" id="claims_end_date" value="{% now "Y-m-d" %}" max="{% now "Y-m-d" %}">
            <br><br>
            <button id="top_claims" class="btn btn-info">Show Claims</button>
            <br><br>
            <table id="show_top_claims"></table>
        </div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {packages: ['corechart', 'bar']});
        let reports_months = {{ reports_months }};
        let reports_days = {{ reports_days }};
        google.charts.setOnLoadCallback(function () {
            draw_chart_by_months(reports_months);
            draw_chart_by_days(reports_days);
        });

        function get_monthly_views(reports){
            {# reports is an array of type int(year), int(month), int(views)#}
            let rows = [['Month', 'Views']];
            for(let i = 0; i < reports.length; i++){
                let row = reports[i];
                rows.push(['' + row[1] + '/' + row[0] % 1000, row[2]]);
            }
            return rows;
        }

        function get_daily_views(reports){
            let rows = [['Days', 'Views']];
            for(let i = 0; i < reports.length; i++){
                let row = reports[i];
                rows.push([row[2], row[3]]);
            }
            return rows;
        }

        function draw_chart_by_months(reports){
            let data = new google.visualization.arrayToDataTable(get_monthly_views(reports));
            let options = {
                chart: {
                    title: 'Title',
                    subtitle: 'Subtitle'
                },
                title: "Views by months",
                hAxis: {
                    title: 'Months'
                },
                vAxis: {
                    title: 'Views'
                }
            };
            let materialChart =  new google.visualization.ColumnChart(document.getElementById('chart_months'));
            materialChart.draw(data, options);
        }

        function draw_chart_by_days(reports){
            let data = new google.visualization.arrayToDataTable(get_daily_views(reports));
            let options = {
                chart: {
                    title: 'Title',
                    subtitle: 'Subtitle'
                },
                title: "Views by days in month",
                hAxis: {
                    title: 'Day of month'
                },
                vAxis: {
                    title: 'Views'
                }

            };
            let materialChart = new google.visualization.ColumnChart(document.getElementById('chart_days'));
            materialChart.draw(data, options);
        }

        $("#set_months").click(function(e){
            e.preventDefault();
            let start_date = $("#start_month").val() + '-01';
            let end_date = $("#end_month").val();
            end_date = end_date + '-' + new Date(end_date.substring(0,4), end_date.substring(5,8), 0).getDate();
            $.ajax({
                type: 'POST',
                url: "{% url 'analytics:view_customized_analytics' %}",
                headers: { "X-CSRFToken": getCookie('csrftoken') },
                data: {
                    start_date: start_date,
                    end_date: end_date,
                    dimensions: 'ga:year, ga:month'
                },
                success: function (response) {
                    draw_chart_by_months(response[0]);
                },
                error: function (error) {

                }
            });
        });

        $("#set_days").click(function(e){
            e.preventDefault();
            let start_date = $("#start_days").val() + '-01';
            let end_date = $("#start_days").val();
            end_date = end_date + '-' + new Date(end_date.substring(0, 4), end_date.substring(5,8), 0).getDate();
            $.ajax({
                type: 'POST',
                url: "{% url 'analytics:view_customized_analytics' %}",
                headers: { "X-CSRFToken": getCookie('csrftoken') },
                data: {
                    start_date: start_date,
                    end_date: end_date,
                    dimensions: 'ga:year, ga:month, ga:day',
                },
                success: function (response) {
                    draw_chart_by_days(response[0]);
                },
                error: function (error) {

                }
            });
        });

        $("#reset_months").click(function (e) {
            draw_chart_by_months({{ x }});
        });

        $("#reset_days").click(function (e) {
            draw_chart_by_days({{ y }});
        });

        $("#top_claims").click(function(e){
            $.ajax({
                type: 'POST',
                url: "{% url 'analytics:view_top_n_claims' %}",
                headers: { "X-CSRFToken": getCookie('csrftoken') },
                data: {
                    start_date: $("#claims_start_date").val(),
                    end_date: $("#claims_end_date").val(),
                    n: $("#num_of_claims").val()
                },
                success: function (response) {
                    let response_table = response['reports'];
                    var table = document.getElementById("show_top_claims");
                    table.innerHTML = '';
                    var row = table.insertRow();
                    var cell = row.insertCell();
                    var cell = row.insertCell();
                    cell.innerHTML = '<b>Claim</b>';
                    var cell = row.insertCell();
                    cell.innerHTML = '<b>Views</b>';

                    for(let i=0; i<response_table.length; i++) {
                        var data = response_table[i];
                        var row = table.insertRow();
                        var cell = row.insertCell();
                        cell.innerHTML = '['+(i+1)+']';
                        var cell = row.insertCell();
                        cell.innerHTML = '<a href="/claim/' + data['claim']['id'] +'">' +
                            data['claim']['claim'] + '</a>';
                        var cell = row.insertCell();
                        cell.innerHTML = data['views'];
                    }
                },
                error: function (error) {

                }
            });
        });

        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start, c_end));
                }
            }
            return "";
        }
    </script>
{% endblock %}

{% block claim_head_title %}
    FactCheckProject | Analytics
{% endblock %}