{% extends 'claims/layout.html' %}

{% block page_content %}

    <div id="about_page" class="page_wrapper">
        <h4>Who are we?</h4>
        <br>
        <div class="claim_box page_box">
            <p>We are Elad Birnfeld, Adir Chen, Sahar Hagbi and Barak Hartman.
                Four students studying Software Engineering in Ben-Gurion University of the Negev, Israel.
            </p>
            <br>
            <p>This site was made as a part of our degree's final project. This site's main goal is to aggregate claims
                and to give an indication over their authenticity. The purpose of this project is to help promoting our
                academic mentors'(Rami Puzis and Aviad Elyashar) research over "Fake News" by giving them the ability to retrieve information about claims
                from the website. The secondary goal is to form  a community that helps providing information over
                claims, and to give better indication over claim’s authenticity.
            </p>
            <br>
            <p>
                By collecting claims from various fact checking websites and giving them our own strengthened verdict
                on authenticity, we are basically providing an important data set for our academic mentors, helping
                them greatly in their research on "Fake News" and it distributors on social networks.
            </p>
            <br>
            <p>
                In the future, we plan to keep the website running and maintained, even after we graduate,
                so users everywhere could keep getting the best source of information on "Fake News" and their
                authenticity.
            </p>
        </div>
    </div>

{% endblock %}

{% block claim_head_title %}
    FactCheckProject | About
{% endblock %}

{% block meta_title %}
    WhatTheFact | About us
{% endblock %}

{% block meta_description %}
    Determine whether a claim is True or False
{% endblock %}

{% block meta_src %}
    {% static 'claims/assets/images/site_logo.png' %}
{% endblock %}