{% extends 'claims/layout2.html' %}

{% block page_content %}
    <div id="claim_page">
        <h3>Add New Claim:</h3>
        <br>
        <div class="new_comment claim_box" style="width: 100%; padding: 20px 40px 20px 20px;">
            <p id="add_new_claim_error_msg" style="color: red; font-size: 12px;" hidden> </p>
            <p id="add_new_claim_success_msg" style="color: dodgerblue; font-size: 12px;" hidden>Your claim has been added successfully.<br>
                If you want to edit your comment you will be able to do so during the next 5 minutes.</p>
                <h5>Claim Details:</h5>
                <input id="claim" type="text" placeholder="Claim" style="width: 100%; margin: 10px;"><br>
                <input id="category" type="text" placeholder="Category" style="width: 100%; margin: 10px;"><br>
                <input id="tags" type="text" placeholder="Tags (separated by space). Used for searching purpose." style="width: 100%; margin: 10px;"><br>
                <input id="img_src" type="text" placeholder="Image Url" style="width: 100%; margin: 10px;"><br>
                <br>
                <input id='add_comment' type="checkbox" onclick='enable_comment()'>Add your comment on this claim<br><br>
                <h5>Comment Details (Source Information):</h5>
                <p>
                    The claim will be submitted along with your comment containing your verdict on it (True/False/Unknown).<br>
                    Other Users will be able to comment their on verdicts.
                </p>
                <input id="title" type="text" placeholder="Title" readonly style="width: 100%; margin: 10px;"><br>
                <textarea id="description" placeholder="Description" readonly style="width: 100%; margin: 10px;"></textarea><br>
                <input id="url" type="text" placeholder="Website url" readonly style="width: 100%; margin: 10px;"><br>
                <p style="width: 100%; margin: 10px;">Verdict Date (according to source website):</p>
                <input type="date" id="verdict_date" value="{% now "Y-m-d" %}" max="{% now "Y-m-d" %}" readonly style="width: 100%; margin: 10px;">
                <p style="width: 100%; margin: 10px;">Label:</p>
                <div style="margin: 10px;">
                    <input type="radio" name="label" class="label" value="True" disabled>True<br>
                    <input type="radio" name="label" class="label" value="False" disabled>False<br>
                    <input type="radio" name="label" class="label" value="Unknown" disabled>Unknown<br>
                </div>
                <button id="submit_claim" type="submit" class="btn btn-info" style="margin: 10px 0;">Add Claim</button>
        </div>
    </div>
    <script>
        $("#submit_claim").click(function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'claims:add_claim' %}",
                headers: { "X-CSRFToken": getCookie('csrftoken') },
                data: {
                    claim: $("#claim").val(),
                    category: $("#category").val(),
                    tags: $("#tags").val(),
                    img_src: $("#img_src").val(),
                    add_comment: document.getElementById('add_comment').checked,
                    title: $("#title").val(),
                    description: $("#description").val(),
                    url: $("#url").val(),
                    verdict_date: $("#verdict_date").val(),
                    label: $(".label:checked").val()
                },
                success: function (request) {
                    $("#add_new_claim_error_msg").attr("hidden", true);
                    $("#claim").val('');
                    $("#category").val('');
                    $("#tags").val('');
                    $("#img_src").val('');
                    $("#title").val('');
                    $("#description").val('');
                    $("#url").val('');
                    $("#verdict_date").val('');
                    $("#add_new_claim_success_msg").attr("hidden", false);
                    $("html, body").animate({ scrollTop: 0 }, 0);
                },
                error: function (error) {
                    $("#add_new_claim_success_msg").attr("hidden", true);
                    let err = error.responseText.split('\n')[1];
                    document.getElementById("add_new_claim_error_msg").innerHTML =
                    '* Error:  ' + err.toLowerCase() + ' *';
                    $("#add_new_claim_error_msg").attr("hidden", false);
                    $("html, body").animate({ scrollTop: 0 }, 0);
                }
            });
        });

        function enable_comment(){
            if (document.getElementById('add_comment').checked == true) {
                $("#title").attr('readonly', false);
                $("#description").attr('readonly', false);
                $("#url").attr('readonly', false);
                $("#verdict_date").attr('readonly', false);
                $(".label").attr('disabled', false);
            }
            else{
                $("#title").attr('readonly', true);
                $("#description").attr('readonly', true);
                $("#url").attr('readonly', true);
                $("#verdict_date").attr('readonly', true);
                $(".label").attr('disabled', true);
            }
        }

        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start, c_end));
                }
            }
            return "";
        }
    </script>
{% endblock %}

{% block claim_head_title %}
    FactCheckProject | Add new Claim
{% endblock %}