{% extends 'claims/layout.html' %}

{% block page_content %}
    {% load is_debug_mode %}
    {% is_debug_mode as is_debug_mode %}
    <head>
        <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    </head>
    <div class="page_wrapper">
        <h3>Add new claim:</h3>
        <br>
        <div class="new_comment comment_box" style="width: 100%;">
            <div class="comment_header">
                <div class="comment_user_image">
                    {% load static %}
                    <img src="{{ request.user.get_user_image.image_url }}">
                </div>
                <div class="comment_user_details">
                    User: <a href="/users/{{ request.user.id }}">{{ request.user.username }}</a><br>
                    {% load static %}
                    {% for i in 'i'|rjust:request.user.get_user_rep.get_reputation %}
                        <img src="{% static 'claims/assets/images/star.png' %}">
                    {% endfor %}
                    <br>
                </div>

            </div>
            <hr>
            <div style="padding: 20px 40px 20px 20px;">
                <p id="success_msg_add_new_claim" class="action_msg note_msg" hidden>Your claim has been added successfully.<br>
                    If you want to edit your claim\comment you will be able to do so during the next 10 minutes.</p>
                <p id="error_msg_add_new_claim" class="action_msg error_msg" hidden> </p>
                <h5>Claim Details:</h5>
                <p style="width: 100%; margin: 10px;">Claim:</p>
                <input id="claim" type="text" style="width: 100%; margin: 10px;"><br>
                <p style="width: 100%; margin: 10px;">Category:</p>
                <input id="category" type="text" style="width: 100%; margin: 10px;"><br>
                <p style="width: 100%; margin: 10px;">Tags (optional, separated by comma. May be followed by space. e.g. tag1,tag2,tag3 or tag1, tag2, tag3):</p>
                <p class="action_msg note_msg" style="margin-left: 10px;">Used for searching purpose.</p>
                <input id="tags" type="text" style="width: 100%; margin: 10px;"><br>
                <p style="width: 100%; margin: 10px;">Image Url (optional):</p>
                <input id="image_src" type="text" style="width: 100%; margin: 10px;"><br>
                <br>
                <p style="width: 100%; margin: 10px;">In order to add your verdict on this claim, you should add your comment attached with reference (website url), title, description, verdict date and verdict- True or False.
                In case you have more details on the claim, but you couldn't decide its verdict, set the verdict as Unknown.</p>
                <input id='add_comment' type="checkbox" onclick='enable_comment()'> Add your comment on this claim<br><br>
                <h5>Comment Details (Source Information):</h5>
                <p class="action_msg note_msg">
                    The claim will be submitted along with your comment containing your verdict on it (True/False/Unknown).<br>
    {#                Other Users will be able to comment their on verdicts.#}
                </p>
                <p style="width: 100%; margin: 10px;">Reference:</p>
                <input id="url" type="text" disabled="disabled" style="width: 100%; margin: 10px;"><br>
                <p style="width: 100%; margin: 10px;">Title:</p>
                <input id="title" type="text" disabled="disabled" style="width: 100%; margin: 10px;"><br>
                <p style="width: 100%; margin: 10px;">Description (describe how the reference supports the label you have chosen- True/False/Unknown)::</p>
                <textarea id="description" disabled="disabled" style="width: 100%; margin: 10px;"></textarea><br>
                <p style="width: 100%; margin: 10px;">Verdict Date (according to source website):</p>
                <input type="date" id="verdict_date" value="{% now "Y-m-d" %}" max="{% now "Y-m-d" %}" disabled="disabled" style="width: 100%; margin: 10px;">
                <p style="width: 100%; margin: 10px;">Verdict:</p>
                <div style="margin: 10px;">
                    <input type="radio" name="label" class="label" value="True" disabled="disabled">True<br>
                    <input type="radio" name="label" class="label" value="False" disabled="disabled">False<br>
                    <input type="radio" name="label" class="label" value="Unknown" disabled="disabled">Unknown<br>
                </div>
                <div id="g-recaptcha" class="g-recaptcha" data-sitekey="6Le4fp0UAAAAAJjD2ErEEZl8_G6uEl62Hon1g9Pv"></div>
    {#            <div id="g-recaptcha" class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>#}
                <div id="g-recaptcha-response" hidden></div>
                <button id="submit_claim" type="submit" class="btn btn-info" style="margin: 10px 0;">Add claim</button>
            </div>
        </div>
    </div>
    <script>
        if(localStorage.getItem("success_msg_add_new_claim")){
            $("#success_msg_add_new_claim").attr("hidden", false);
            localStorage.clear();
        }

        function hide_all_msgs(){
            $("#success_msg_add_new_claim").attr("hidden", true);
            $("#error_msg_add_new_claim").attr("hidden", true);
        }

        $("#submit_claim").click(function(e){
            let debug_mode = '{% is_debug_mode %}' == 'True';
            if (debug_mode || (!debug_mode && check_recaptcha())){
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: "{% url 'claims:add_claim' %}",
                    headers: { "X-CSRFToken": getCookie('csrftoken') },
                    data: {
                        g_recaptcha_response: $("#g-recaptcha-response").val(),
                        claim: $("#claim").val(),
                        category: $("#category").val(),
                        tags: $("#tags").val(),
                        image_src: $("#image_src").val(),
                        add_comment: document.getElementById('add_comment').checked,
                        title: $("#title").val(),
                        description: $("#description").val(),
                        url: $("#url").val(),
                        verdict_date: $("#verdict_date").val(),
                        label: $(".label:checked").val()
                    },
                    success: function (request) {
                        localStorage.setItem("success_msg_add_new_claim", true);
                        $("html, body").animate({ scrollTop: 200 }, 0);
                        window.location.reload();
                    },
                    error: function (request) {
                        hide_all_msgs();
                        grecaptcha.reset();
                        let err = request.responseJSON;
                        document.getElementById("error_msg_add_new_claim").innerHTML =
                        'Error: <br>' + err;
                        $("#error_msg_add_new_claim").attr("hidden", false);
                        $("html, body").animate({ scrollTop: 200 }, 0);
                    }
                });
            }
        });

        function enable_comment(){
            if (document.getElementById('add_comment').checked == true) {
                $("#title").attr('disabled', false);
                $("#description").attr('disabled', false);
                $("#url").attr('disabled', false);
                $("#verdict_date").attr('disabled', false);
                $(".label").attr('disabled', false);
            }
            else{
                $("#title").attr('disabled', true);
                $("#description").attr('disabled', true);
                $("#url").attr('disabled', true);
                $("#verdict_date").attr('disabled', true);
                $(".label").attr('disabled', true);
            }
        }

        function check_recaptcha() {
            if (grecaptcha === undefined) {
                alert('Recaptcha not defined');
                return false;
            }
            let response = grecaptcha.getResponse();

            if (!response) {
                alert('Could not get recaptcha response');
                return false;
            }
            $("#g-recaptcha-response").val(response);
            let ajax = new XMLHttpRequest();
            ajax.onreadystatechange = function() {
                if (this.readyState === 4) {
                    if (this.status === 200) {
                        alert('Recaptcha got unexpected error');
                        return false;
                    }
                }
            };
            return true;
        }
    </script>
{% endblock %}

{% block claim_head_title %}
    FactCheckProject | Add a claim
{% endblock %}