{% load staticfiles%}

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding: 25px 10px; margin: 0;">
    <div class="claim_box" style="opacity: 1.0; margin: 0;">
        <img src="{{ claim.image_src }}">
        <div class="claim_box_info">
            <h5>{{ claim.claim }}</h5>
            <p style="font-size: 14px;">
                Category: {{ claim.category }}
            </p>
            <ul style="list-style-type: none; padding: 0; margin: 0;">
                {% for icon in icons %}
                    <li><img src="{{ icon }}" style="max-height: 90px; max-width: 90px; display: block;"></li>
                {% endfor %}
            </ul>
            <br>
            <a href="/claim/{{ claim.id }}" class="btn btn-info">Read more...</a>
        </div>
    </div>
</div>