{% extends 'claims/layout2.html' %}

{% block page_content %}

    <div class="headlines">
        <div style="max-width: 1150px; padding: 0 20px; border-radius: 10px; background: #aabfd6; display: flex; flex-wrap: wrap; margin: 0 auto;">
            {% for claim, imgs in headlines.items %}
                {% include 'claims/claimbox_large.html' with claim=claim icons=imgs %}
            {% endfor %}
        </div>
    </div>
    <div class="page_wrapper">
        <div id="claim_columns">
            {% for claim, imgs in sub_headlines.items %}
                {% include 'claims/claimbox.html' with claim=claim icons=imgs %}
            {% endfor %}
        </div>
    </div>

{% endblock %}




{% block claim_head_title %}
    WhatTheFact?! | Home
{% endblock %}