{% extends 'claims/layout2.html' %}

{% block page_content %}

    <div class="headlines">
        <div id="claim_large_columns" style="max-width: 1150px; padding: 20px; border-radius: 10px; background: #aabfd6;margin: 0 auto;">
            {% for claim, img in headlines.items %}
                {% include 'claims/claimbox_large.html' with claim=claim img=img %}
            {% endfor %}
        </div>
    </div>
    <div class="page_wrapper">
        <div id="claim_columns">
            {% for claim, img in sub_headlines.items %}
                {% include 'claims/claimbox.html' with claim=claim img=img %}
            {% endfor %}
        </div>
    </div>

{% endblock %}




{% block claim_head_title %}
    WhatTheFact?! | Home
{% endblock %}