{% extends 'claims/layout.html' %}

{% block page_content %}

    <div style="margin: 40px auto; text-align: center">
        <div class="btn-group btn-group-lg" role="group" aria-label="Sorting Methods">
                <a href="#newest_claims" class="btn btn-secondary btn-info">Newest</a>
                <a href="#most_commented_claims" class="btn btn-secondary btn-info">Most commented</a>
                <a href="#most_controversial_claims" class="btn btn-secondary btn-info">Most controversial</a>
        </div>
    </div>

    <div class="headlines">
        <div style="max-width: 1150px; margin: 20px auto; overflow: auto;">
            <h3 id="newest_claims" style="float: left;">Newest claims</h3>
            <button class="btn btn-info" style="float: right;" onclick="location.href='/claims?sort_method=Newest'">View all <i class="fa fa-angle-double-right"></i></button>
        </div>
        <div id="claim_large_columns" style="max-width: 1150px; padding: 20px; border-radius: 10px; background: #aabfd6;margin: 0 auto;">
            {% for claim in newest %}
                {% include 'claims/claimbox_large.html' with claim=claim %}
            {% endfor %}
        </div>
    </div>

    <div class="headlines">
        <div style="max-width: 1150px; margin: 20px auto; overflow: auto;">
            <h3 id="most_commented_claims" style="float: left;">Most commented claims</h3>
            <button class="btn btn-info" style="float: right;" onclick="location.href='/claims?sort_method=Most commented'">View all <i class="fa fa-angle-double-right"></i></button>
        </div>
        <div id="claim_large_columns" style="max-width: 1150px; padding: 20px; border-radius: 10px; background: #aabfd6;margin: 0 auto;">
            {% for claim in most_commented %}
                {% include 'claims/claimbox_large.html' with claim=claim %}
            {% endfor %}
        </div>
    </div>

    <div class="headlines">
        <div style="max-width: 1150px; margin: 20px auto; overflow: auto;">
            <h3 id="most_controversial_claims" style="float: left;">Most controversial claims</h3>
            <button class="btn btn-info" style="float: right;" onclick="location.href='/claims?sort_method=Most controversial'">View all <i class="fa fa-angle-double-right"></i></button>
        </div>
        <div id="claim_large_columns" style="max-width: 1150px; padding: 20px; border-radius: 10px; background: #aabfd6;margin: 0 auto;">
            {% for claim in most_controversial %}
                {% include 'claims/claimbox_large.html' with claim=claim %}
            {% endfor %}
        </div>
    </div>

    <script>

        window.onload = function() {
            let images = document.getElementsByClassName('claim_image');
            for (let i = 0; i < images.length; i++) {
                if (!(images[i].complete && images[i].naturalHeight !== 0)) {
                    images[i].setAttribute('src', "/static/claims/assets/images/claim_default_image.jpg");
                }
            }
        };
    </script>
{% endblock %}


{% block claim_head_title %}
    {% if claims.number == 1 %}
        WhatTheFact?! | Home
    {%  else %}
        WhatTheFact?! | Page {{ claims.number }}
    {%  endif %}
{% endblock %}

{% block meta_title %}
    WhatTheFact
{% endblock %}

{% block meta_description %}
    Rate the Facts
{% endblock %}

{% block meta_src %}
    {% load static %}
    {% static 'claims/assets/images/site_logo.png' %}
{% endblock %}