<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block claim_head_title %}
        {% endblock %}
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'claims/style.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134715089-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-134715089-1');
    </script>

</head>
<body>
    <header id="header">
        <div id="header-wrapper">
            <div class="site-logo">
                <a href="/"><img src="{% static 'claims/assets/images/site_logo.png' %}"></a><br>
                <h6><i>Determine whether a claim is True or False</i></h6>
            </div>
            <div class="header-tools">
                {% if request.user.is_authenticated %}
                    <p>Welcome <a href="">{{request.user.username}}</a></p>
                    <a href="/logout" style="font-size: 14px;">Sign Out</a>
                {% else %}
                    <p>Welcome guest.</p>
                    <p>
                        <ul>
                            <li><img src="{% static 'claims/assets/images/google_icon.png' %}" style="padding: 0; margin: 0;"><a href="{% url 'social:begin' 'google-oauth2' %}">Sign in with Google</a></li>
                            <li><img src="{% static 'claims/assets/images/twitter_icon.png' %}"><a href="{% url 'social:begin' 'twitter' %}">Sign in with Twitter</a></li>
                        </ul>
                    </p>
                {% endif %}
                <form class="search-container" action={% url 'search:search_result' %}>
                    <div class="searchbar">
                        <input type="text" placeholder="Search.." name="search_keywords" value="{{ request.GET.search_keywords }}">
                    </div>
                    <div class="searchbutton">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </header>

    <div class="topnav">
        <div class="nav-wrapper" id="myTopnav">
            <a href="/">Home</a>
            <a href="/about">About us</a>
            <a href="/contact_us/contact_us_page">Contact us</a>
            {% if request.user.is_authenticated %}
                <a href="/add_claim_page">Add new claim</a>
                <a href="/users/my_profile">My profile</a>
            {% endif %}
            {% if request.user.is_superuser %}
                <div class="dropdown">
                    <a class="dropdown-toggle">Admin tools</a>
                    <div class="dropdown-content">
                        <a href="/admin" target="_blank">Admin panel</a>
                        <a href="/users/add_all_scrapers">Add all scrapers</a>
                        <a href="/users/add_scraper_guide">Adding a scraper guide</a>
                        <a href="/export_claims_page">Export claims as csv</a>
                        <a href="/logger/view_log">Logger</a>
                        <a href="/analytics/" style="border-right: 0;">View analytics</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <a href="javascript:void(0);" class="nav-hamburger-icon" onclick="navFunc()"><i class="fa fa-bars"></i></a>
    </div>
    <div>
    <section id="page_content">
    {% block page_content %}

    {% endblock %}
    </section>
    <footer id="footer">
        &copy; 2018-2019 WTFacts version 1.0
    </footer>

    <script>
        function navFunc(){
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>

</body>
</html>