<!DOCTYPE html>
<html lang="en">
<script async src="https://app.appzi.io/bootstrap/bundle.js?token=VUDam"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="{% block meta_title %} {% endblock %}">
    <meta name="description" content="{% block meta_description %} {% endblock %}">
    <meta name="src" content="{% block meta_src %} {% endblock %}">

    <title>
        {% block claim_head_title %}
        {% endblock %}
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    {% load static %}
    <link rel="icon" href="{% static 'claims/assets/images/favicon.png' %}">
    <link href="{% static 'claims/style.css' %}?version=1" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137817705-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-137817705-1');
    </script>
    {% if request.user.is_authenticated %}
        <script>

            function my_special_notification_callback(data) {
                var list = document.getElementById("live_notifications_list");
                while (list.hasChildNodes()) {
                  list.removeChild(list.firstChild);
                }
                if (data.unread_list.length > 0){
                    $("#notify_badge").attr("hidden", false);
                    $("#mark_all").attr("hidden", false);
                }
                else{
                    $("#notify_badge").attr("hidden", true);
                    $("#mark_all").attr("hidden", true);
                }
                for (var i=0; i < data.unread_list.length; i++) {
                    var element = document.createElement('li');
                    var actor = data.unread_list[i].actor;
                    var verb = data.unread_list[i].verb;
                    var target_id = data.unread_list[i].target_object_id;
                    element.innerHTML = "<a href ='#' onclick='read_notification(" + JSON.stringify(data.unread_list[i]) + ")'" + target_id + "'>" + actor + " " + verb + "</a>";
                    list.appendChild(element);
                }
            }
        </script>
        {% load notifications_tags %}
        <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
        {% register_notify_callbacks callbacks='fill_notification_badge,my_special_notification_callback' %}
    {% endif %}

</head>
<body>
    <button onclick="topFunction()" id="scrollTopBtn" title="Go to top"><i class="fa fa-angle-up" style="font-size: 24px;"></i></button>
    <div id="sticky_header">
        <header id="header">
            <div id="header-wrapper">
                <div class="site-logo">
                    <a href="/"><img src="{% static 'claims/assets/images/site_logo.png' %}"></a><br>
                    <h6 id="site_mantra"><i>Rate the Facts - let the truth be revealed</i></h6></i></h6>
                </div>
                <div class="header-tools">
                    {% if request.user.is_authenticated %}
                        <div id="welcome_msg" style="padding-right: 20px;">
                            <span style="font-weight: bold;">Welcome </span><a href="/users/{{ request.user.id }}">{{request.user.username}}</a>
                            <a href="javascript:;" class="notification" onclick="showNotifiactions()">
                                <span><i class="fa fa-bell" style="margin-left: 10px;"></i></span>
                                <span id="notify_badge" class="badge" hidden="hidden">{% live_notify_badge %}</span>
                            </a> <a href="/users/notifications"><span style="font-size: 14px;">Notifications</span></a>
                        </div>
                        <div id="last-notifications" class="last-notifications">
                            <div id="mark_all" style="background: #eee; padding: 10px; margin: 0;" hidden="hidden">
                                <a href="/users/read_all_notifications">Mark all as read</a>
                                <button onclick="showNotifiactions()" style="border: 1px solid #ccc; background: none; float: right;">X</button>
                            </div>
                            <div>
                                <ul id="live_notifications_list" style="margin: 0;">
                                </ul>
                            </div>
                            <div style="background: #eee; padding: 10px;">
                                <a href="/users/notifications">See all notifications</a>
                            </div>
                        </div>
                        <br class="br_nav">
                        <a href="/logout" style="font-size: 14px;">Sign Out</a>

                    {% else %}
                        <div id="guest_msg">
                            <p>Welcome guest.</p>
                            <h6><i>Want to share information with us?</i></h6>
                            <p>
                                <ul>
                                    <p>Sign in with:</p>
                                    <li><div style="display: inline-block"><img src="{% static 'claims/assets/images/google_icon.jpg' %}" style="padding: 0; margin: 0;"><a href="{% url 'social:begin' 'google-oauth2' %}"> Google</a></div></li>
                                    <li><div style="display: inline-block"><img src="{% static 'claims/assets/images/twitter_icon.png' %}"><a href="{% url 'social:begin' 'twitter' %}"> Twitter</a></div></li>
                                    <li><div style="display: inline-block"><img src="{% static 'claims/assets/images/facebook_icon.png' %}"><a href="{% url 'social:begin' 'facebook' %}"> Facebook</a></div></li>
                                </ul>
                            </p>
                        </div>
                        <div id="guest_msg_minimize" style="display: none;">
                            Welcome guest
                            <a href="#" class="btn btn-primary" style="margin-left: 20px;">Sign in</a>
                        </div>
                    {% endif %}
                    <form id="search_form" action={% url 'search:search_result' %}>
                        <input id="searchbar" type="text" name="search_keywords" placeholder="Search.." value="{{ request.GET.search_keywords }}" style="background-image: url('{% static 'claims/assets/images/searchicon.png' %}');">
                    </form>
                </div>
            </div>
        </header>
        <div class="topnav">
            <div class="nav-wrapper" id="myTopnav">
                <a href="/">Home</a>
                <a href="/about">About us</a>
                <a href="/contact_us/contact_us_page">Contact us</a>
                {% if request.user.is_authenticated %}
                    <a href="/add_claim_page">Add new claim</a>
                    <a href="/users/{{ request.user.id }}">My profile</a>
                {% endif %}
                {% if request.user.is_superuser %}
                    <div class="dropdown">
                        <a class="dropdown-toggle">Admin tools</a>
                        <div class="dropdown-content">
                            <a href="/admin" target="_blank">Admin panel</a>
    {#                        <a href="/users/add_all_scrapers">Add all scrapers</a>#}
                            <a href="/users/add_scraper_guide">Adding a scraper guide</a>
                            <a href="/export_claims_page">Export claims as csv</a>
                            <a href="/tweets/export_tweets_page">Export tweets as csv</a>
                            <a href="/post_claims_tweets_page">Import claims/tweets from csv</a>
                            <a href="/merging_claims_page">Merging claims suggestions</a>
                            <a href="/logger/view_log">Logger</a>
                            <a href="/analytics/" style="border-right: 0;">View analytics</a>
    {#                        <a href="/comments/update_authenticity_grade_for_all_claims" style="border-right: 0;">Update authenticities grades for all claims</a>#}
                        </div>
                    </div>
                {% endif %}
            </div>
            <a href="javascript:void(0);" class="nav-hamburger-icon" onclick="navFunc()"><i class="fa fa-bars"></i></a>
        </div>
    </div>
    <div>
    {% if not request.user.is_authenticated %}
        <p style="height: 60px;"></p>
    {% endif %}
    <section id="page_content">
    {% block page_content %}

    {% endblock %}
    </section>
    <footer id="footer">
        &copy; 2018-2019 WTFacts version 1.0
    </footer>

    <script>
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
          if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
            document.getElementById("header").style.padding = "5px";
            document.getElementById("header-wrapper").style.maxWidth = "950px";
            document.getElementById("header-wrapper").style.gridTemplateColumns = "150px auto";
            document.getElementsByClassName("site-logo")[0].style.width = "150px";
            document.getElementById("site_mantra").style.display = "none";
            {% if request.user.is_authenticated %}
                document.getElementById("welcome_msg").style.display = "inline";
            {% else %}
                document.getElementById("guest_msg").style.display = "none";
                document.getElementById("guest_msg_minimize").style.display = "inline";
            {% endif %}
            document.getElementById("searchbar").style.width = "250px";
            document.getElementById("searchbar").style.margin = "0 0 0 25px";
            document.getElementById("searchbar").style.padding = "5px 20px 5px 40px";
            document.getElementById("searchbar").style.backgroundPosition = "10px 8px";
            document.getElementById("search_form").style.display = "inline";
            document.getElementsByClassName("header-tools")[0].style.paddingTop = "10px";
          } else {
            document.getElementById("header").style.padding = "20px";
            document.getElementById("header-wrapper").style.maxWidth = "1150px";
            document.getElementById("header-wrapper").style.gridTemplateColumns = "400px auto";
            document.getElementsByClassName("site-logo")[0].style.width = "auto";
            document.getElementById("site_mantra").style.display = "block";
            {% if request.user.is_authenticated %}
                document.getElementById("welcome_msg").style.display = "block";
            {% else %}
                document.getElementById("guest_msg").style.display = "block";
                document.getElementById("guest_msg_minimize").style.display = "none";
            {% endif %}
            document.getElementById("searchbar").style.width = "100%";
            document.getElementById("searchbar").style.padding = "12px 20px 12px 40px";
            document.getElementById("searchbar").style.margin = "20px 0 0 0";
            document.getElementById("searchbar").style.backgroundPosition = "10px 12px";
            document.getElementById("search_form").style.display = "block";
            document.getElementsByClassName("header-tools")[0].style.paddingTop = "0";
          }
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("scrollTopBtn").style.display = "block";
          } else {
            document.getElementById("scrollTopBtn").style.display = "none";
          }
        }

        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }

        function navFunc(){
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }

        function showNotifiactions() {
          var x = document.getElementById("last-notifications");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }

        $(document).mouseup(function(e)
        {
            var container = $("#last-notifications");
            if (!container.is(e.target) && container.has(e.target).length === 0)
            {
                container.hide();
            }
        });

        function read_notification(notification) {
            $.ajax({
                type: 'POST',
                url: "{% url 'users:read_notification' %}",
                headers: { "X-CSRFToken": getCookie('csrftoken') },
                data: {
                    notification_id: notification.id,
                },
                success: function () {
                    window.location.pathname = '/claim/' + notification.target_object_id;
                },
            });
        }
        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start, c_end));
                }
            }
            return "";
        }

        // {#grecaptcha.ready(function() {#}
        // {# for grecaptcha v3 #}
        // {#    grecaptcha.execute('6LftCZsUAAAAAKmuIi7qSDZTr1enYj2gjsk_3c0c', {action: 'botsChecking'}).then(function (token) {#}
        // {#        console.log(token);#}
        // {#        document.getElementById('g-recaptcha-response').value = token;#}
        // {#    });#}
        // {#});#}
    </script>

</body>
</html>