<div class="reply_box" id="reply_box_{{ reply.id }}">
    <div class="reply_img">
        <img src="{{ user_details.user_img.user_img }}"><br><br>
        <a href="/users/{{ user_details.user.id }}">{{ user_details.user.username }}</a>
    </div>
    <div>
        {{ reply.content }}
    </div>
</div>
<textarea id="{{ reply.id }}_reply_content_edit" placeholder="{{ reply.content }}" style="margin-right: 10px;" hidden="hidden">
    {{ reply.content }}
</textarea>
{% if request.user.is_superuser or request.user.is_authenticated and reply.user_id == request.user.id %}
    <p id="success_msg_{{ reply.id }}_reply_edit" class="action_msg note_msg" hidden>Reply was edited successfully</p>
    <p id="error_msg_{{ reply.id }}_reply_edit" class="action_msg error_msg" hidden></p>
    <button id="reply_{{ reply.id }}_edit" hidden='hidden' type="submit" class="btn btn-info" onclick="edit_reply_{{ reply.id }}()">Edit your reply</button>
    <button id="reply_{{ reply.id }}_cancel" hidden='hidden' type="submit" class="btn btn-info" onclick="edit_reply_{{ reply.id }}_cancel()">Cancel</button>
    <button id="reply_{{ reply.id }}_save" type="submit" hidden='hidden' class="btn btn-info">Save</button>
    <button id="reply_{{ reply.id }}_delete" type="submit" class="btn btn-danger">Delete</button>
{% endif %}
<hr>

<script>
    let max_minutes_to_edit_reply_{{ reply.id }} = 10;
    let reply_timestamp_{{ reply.id }} = new Date('{{ reply.timestamp|date:"D, d M Y H:i:s" }}');
    {% if request.user.is_superuser %}
        $("#reply_{{ reply.id }}_edit").attr("hidden", false);
    {% else %}
        if (((new Date() - reply_timestamp_{{ reply.id }}) / 60000) <= max_minutes_to_edit_reply_{{ reply.id }}){
            $("#reply_{{ reply.id }}_edit").attr("hidden", false);
        }
    {% endif %}

    if(localStorage.getItem("success_msg_{{ reply.id }}_reply_edit")){
        $("#success_msg_{{ reply.id }}_reply_edit").attr("hidden", false);
        localStorage.clear();
    }

    function hide_all_msgs(){
        $("#success_msg_{{ reply.id }}reply_edit").attr("hidden", true);
        $("#error_msg_{{ reply.id }}reply_edit").attr("hidden", true);
    }

    function edit_reply_{{ reply.id }}() {
        $("#reply_box_{{ reply.id }}").attr("hidden", true);
        $("#{{ reply.id }}_reply_content_edit").attr("hidden", false);
        $("#reply_{{ reply.id }}_edit").attr("hidden", true);
        $("#reply_{{ reply.id }}_cancel").attr("hidden", false);
        $("#reply_{{ reply.id }}_save").attr("hidden", false);
    }

    function edit_reply_{{ reply.id }}_cancel() {
        $("#reply_box_{{ reply.id }}").attr("hidden", false);
        $("#{{ reply.id }}_reply_content_edit").attr("hidden", true);
        $("#reply_{{ reply.id }}_edit").attr("hidden", false);
        $("#reply_{{ reply.id }}_cancel").attr("hidden", true);
        $("#reply_{{ reply.id }}_save").attr("hidden", true);
        $("#reply_{{ reply.id }}_error_msg").attr("hidden", true);
    }

    $("#reply_{{ reply.id }}_save").click(function(e){
        $.ajax({
            type: 'POST',
            url: "{% url 'replies:edit_reply' %}",
            headers: { "X-CSRFToken": getCookie('csrftoken') },
            data: {
                comment_id: '{{ comment.id }}',
                content: $("#{{ reply.id }}_reply_content_edit").val(),
            },
            success: function () {
                localStorage.setItem("success_msg_{{ reply.id }}_reply_edit", true);
                window.location.reload();
            },
            error: function (error) {
                hide_all_msgs();
                let err = error.responseText.split('\n')[1];
                document.getElementById("error_msg_{{ reply.id }}_reply_edit").innerHTML =
                'Error: <br>' + err;
                $("#error_msg_{{ comment.id }}_comment_edit").attr("hidden", false);
            }
        });
    });

    $("#reply_{{ reply.id }}_delete").click(function(e){
        if (confirm('Are you sure you want to delete this reply?')){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'replies:delete_reply' %}",
                headers: { "X-CSRFToken": getCookie('csrftoken') },
                data: {
                    reply_id: '{{ reply.id }}',
                },
                success: function (page) {
                    $("html, body").animate({ scrollTop: 200 }, 0);
                    window.location.reload();
                },
                error: function (error) {
                    let err = error.responseText.split('\n')[1];
                    document.getElementById("error_msg_{{ reply.id }}_reply_edit").innerHTML =
                        'Error: <br>' + err;
                    $("#error_msg_{{ reply.id }}_reply_edit").attr("hidden", false);
                }
            });
        }
    });
</script>