{% extends 'claims/layout2.html' %}

{% block page_content %}

    <div id="about_page" style="max-width: 900px; margin: auto; height: 700px; padding: 40px 0;">
        <h4>Who are we?</h4>
        <br>
        <div class="claim_box" style="width: 90%; padding: 20px 40px 20px 20px; max-height: 500px;">
            <p>We are Elad Birnfel, Adir Chen, Sahar Hagbi and Barak Hartman. Four students studying Software
                Engineering in Ben-Gurion University of the Negev.
            </p>
            <br>
            <p>This site is made as part of our degree's final project. This site's main goal is to aggregate claims
                and give an indication over their authenticity. The purpose of this project is to help promoting our
                academic mentors' research over “Fake news” by giving them the ability to retrieve information on claims
                from the website. The secondary goal is to form  a community that helps providing information over
                claims, and give better indication over claim’s authenticity.
            </p>
            <br>
            <p>
                By collecting claims from various fact checking website and giving them our own strengthened verdict
                on authenticity, we are basically providing an important data set for our academic mentors, helping
                them greatly in their research on "Fake news" and Fake news distributors on social networks.
            </p>
            <br>
            <p>
                In the future, we are planning on keeping the website running and maintained, even after we graduate,
                so users everywhere can keep getting the best source of information on "Fake news" and their
                authenticity.
            </p>
        </div>
    </div>

{% endblock %}

{% block claim_head_title %}
    FactCheckProject | About
{% endblock %}